# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temp files and logs
*.tmp
*.log

# Project-specific ignored files
carbon.db
node_modules/
